@media screen and (min-width: 651px)
    .home
        .about, .venue
            width 50%
    .nav-icons    
        display none

@media screen and (max-width: 650px)

    .navigation 
        position fixed
        width 100%
        display flex
        flex-flow column wrap

        h1
            padding-right 2%
        ul, h1  
            display none

    .nav-icons
        width 100%
        margin auto
        i
            margin auto
            padding 0 2.5%

    .main-content
        margin-top 110px

    .nav-icons, .site-heading 
        text-align center
