@media screen and (min-width: 651px)
    .home
        .about, .venue
            width 50%

    .bio
        width 75%

    .bioImage
        width 15%

    .nav-icons    
        display none

@media screen and (max-width: 650px)

    .navigation, .nav-icons, .bio, .bioImage
        width 100%

    .navigation 
        position fixed
        display flex
        flex-flow column wrap

        h1
            padding-right 2%
        ul, h1  
            display none

    .nav-icons
        margin auto
        i
            margin auto
            padding 0 2.5%

    .main-content
        margin-top 110px

    .nav-icons, .site-heading 
        text-align center

    .site-heading
        margin-bottom 2.5%

    article
        text-align justify

    .bioImage    
        display flex
        img
            margin 2.5% auto

