.container
    max-width 1200px
    margin 0 auto

body
    font-family "Open Sans", serif

a, a:link, a:visited, a:hover, a:active
    color #333
    text-decoration none

ul
    padding 0
    margin 0
    list-style none

.text-center
    text-align center

header
    background yellow

// Navigation

// Sessions
.sessions-list li
    margin-bottom 20px

// Speakers
.nav-list li,
.speakers-list li
    display inline-block
    margin-bottom 15px
    margin-right 1.6%

footer
    clear both
