coolBlue = #71bdd6
minorSpacing = 2.5%

.home
    display flex
    flex-wrap wrap
    font-size 1.2em
    line-height 2.0em
    padding minorSpacing

.sponsors
    h2
        margin-bottom minorSpacing

.sponsor-images
    display flex
    flex-flow row wrap 
    justify-content center

    img
        display inline-block
        margin minorSpacing
        width 128px
        height 128px

.speakers-list
    display flex
    flex-flow wrap
    justify-content center
    background-image url("/images/tiles/whitedust.png");

    li
        padding 1.2%
        text-align center
        display inline-block

    li:hover
        background coolBlue

.thumbnail
    width 118px

.post
    font-size 1.5em
    line-height 2.5em
    margin 5% 
