@media screen and (min-width: 651px) {
  .home .about,
  .home .venue {
    width: 50%;
  }
  .bio {
    width: 75%;
  }
  .bioImage {
    width: 15%;
  }
  .nav-icons {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .navigation,
  .nav-icons,
  .bio,
  .bioImage {
    width: 100%;
  }
  .navigation {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .navigation h1 {
    padding-right: 2%;
  }
  .navigation ul,
  .navigation h1 {
    display: none;
  }
  .nav-icons {
    margin: auto;
  }
  .nav-icons i {
    margin: auto;
    padding: 0 2.5%;
  }
  .main-content {
    margin-top: 110px;
  }
  .nav-icons,
  .site-heading {
    text-align: center;
  }
  .site-heading {
    margin-bottom: 2.5%;
  }
  article {
    text-align: justify;
  }
  .bioImage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .bioImage img {
    margin: 2.5% auto;
  }
}
