.text-center {
  text-align: center;
}
/* Home page */
.home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 1.2em;
  line-height: 2em;
  padding: 2.5%;
}
.sponsor-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sponsor-images img {
  display: inline-block;
  margin: 2.5%;
  width: 128px;
  height: 128px;
}
.main-content {
  width: 100%;
  padding: 2%;
  overflow: hidden;
}
/* Speakers list page  */
.speakers-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/images/tiles/whitedust.png");
}
.speakers-list li {
  padding: 1.2%;
  text-align: center;
  display: inline-block;
}
.speakers-list li:hover {
  background: #71bdd6;
}
.thumbnail {
  width: 118px;
}
.post {
  font-size: 1.5em;
  line-height: 2.5em;
  margin: 5%;
}
/* speaker's detail page */
.speaker-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 5%;
}
.speaker-details img {
  width: 88px;
  height: 100px;
}
.speaker-details .bio {
  margin-left: 2.5%;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: justify;
}
/* Sessions List */
.sessions-list {
  list-style: none;
}
.sessions-list li {
  padding: 10px 0;
}
.sessions-list li:hover {
  background: #ffe7ae;
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
}
.sessions-list img {
  margin-left: 10px;
}
